

.sfondo{
    background-color: rgba(162, 185, 192, 0.753)
}
.edit{
    font-size: larger;
    color: rgb(40, 40, 167);
}
.delete{
    color: rgb(179, 15, 15);
    font-size: larger;
}
.cursor{
    cursor: pointer;
}
.main-div{
    display: flex;
}
.user-image{
    padding: 5% 4% 10% 4% ;
    max-width: 100%;
}
.user-image > img{
    width: 18vw;
    height: 18vw;
}
#editor{
    display: none;
}
.django-ckeditor-widget{
    max-width: 100%;
}
#cke_id_body{
    max-width: 45vw;
}
