{% extends 'app/layout.html'%}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/user.css'%}">
{% endblock %}
{% block script %}
<script src="{% static 'js/user.js'%}"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/classic/ckeditor.js"></script>
{% endblock %}

{% block title %}
    {{topics.0.author}} profile page
{% endblock %}

{% block body %}


<div class="container">
    <div class="p-1 row main-div">
        <div class="mr-2  card col-3 text-center bg-gradient sfondo">
            <div class="d-flex ml-auto pt-2 " >
                <a href="{% url 'edit_profile' profile.id %}">
                    <i class="cursor mr-3 edit cursor fas fa-edit"></i>
                </a>
            </div>
            <div class="p-1 pb-4">
                {% if profile.image %}
                    <img class="rounded-circle" src="{{MEDIA_URL}}{{profile.image}}" alt="" width="250px" height="250px">
                {% else %}
                    <img class="rounded-circle shadow" src="{{MEDIA_URL}}avatar.jpg" alt="" width="250px">
                {% endif %}
            </div>
            <div class="p-1">
                <h5>{{profile.username}}</h5>
                <h6>{{profile.email}}</h6>
                <h6>{{profile.city}}  {{profile.country}}</h6>
            </div>

                <div class="p-1">
                    <p>{{profile.description}}</p>
                </div>
            <div class="p-1">
                <p class="text-left">With us sice: <br>
                {{profile.timestamp}}</p>
            </div>
        </div>
        <div class="col-8 ml-2">
            {% for topic in topics %}
                <div class="card mb-3 shadow" id="topic-card-{{topic.id}}">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            <strong>
                                <a href="{% url 'topic' topic.id %}">{{topic.title}}</a>
                            </strong>
                        </div>
                        <div class="d-flex">
                            <span id="edit-{{topic.id}}" 
                            data-toggle="modal" data-target="#myModal"
                                onclick="editTopic('{{topic.id}}')" 
                                class=" mr-3 edit cursor">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span id="delete-{{topic.id))" 
                            onclick="deleteConfirmation('{{topic.id}}')"
                                class=" ml-2 delete cursor">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </div>
                    </div>
                    <div class="card-body" id="body{{topic.id}}">{{topic.body|safe}}</div>
                    
                    <div class="card-footer">{{topic.timestamp}}</div>
                </div>
                
            {% endfor %}
            
        </div>
        
    </div>





    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">Edit Topic</h4>
            </div>
            <form id="editor" method="post" enctype="multipart/form-data">
                {% csrf_token%}
                <div class="modal-body text-center">
                    <div>
                        <div>
                            {{form.media}}
                            {{form.as_p}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit">Edit Topic</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
        </div>
      </div>
    
</div>    
    
    
{% endblock %}